<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Security-Policy" content="img-src *">
    <title>Day Tryppers</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <a href="/views/layouts/main.handlebars">Home</a>
                <a href="/views/destinations.handlebars">Destination</a>
            </ul>
            <ul>
                <a href="/views/profile.handlebars"><i class="fa-regular fa-circle-user"></i></a>
                <a href="/views/logout.handlebars"><i id="logout-Btn" class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i></a>
            </ul>
        </nav>
        <main>
            {{{ body }}}
        </main>
    </div>


</body>

<script src="/js/logout.js"></script>

</html>