<div class="grid-container">
    <div class="box">
        <div class="destination-card">
            <h2>{{name}}</h2>
            <img src="/assets/paris2.jpg" alt="The Eiffel Tower" style="width: 300px; height: 450px;"/>
        </div>
    </div>

    <div class="box-text">
        <h2>Upcoming Trips</h2>
    </div>

    {{#each trips as |trip|}}
    <div class="box">
        <div class="card">
            <h3>{{trip.name}}</h3>
             <img src="{{trip.imageUrl}}" alt="{{trip.name}}">
        </div>
        {{/each}}

        <script src="/js/destination.js"></script>