<section class="hero">
    <h1>Upcoming Trips</h1>

    {{#each trips as |trip|}}
    <h3>{{name}}</h3>
    <a href="./destination/{{trip.destinationId}}">
        <img src="/assets/paris.png" alt="The Eiffel Tower">
    </a>
    {{/each}}
</section>