

<section class="hero">
    <h1>Lorem ipsum dolor sit amet consectetur.</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut, omnis.</p>
    <div class="search-section">
        <div class="input-section">
            <input type="text" placeholder="location" />
            <input type="text" placeholder="date" />
            <button>Search</button>
        </div>
    </div>
</section> 