<section class="hero">
    <h1>Day Tryppers</h1>

<section><h2><i>New Places, New Friends, New Experiences!</i><br><br>
    <p>Want to travel but can't seem to get your group of friends together? Wait no more, DayTryppers is here for you! We have curated exciting traveling packages for solo-travelers who are ready to explore the world. You will join other solo-travelers who are ready to visit new cities, try new foods, and enjoy what life has to offer. Join us for an unforgettable experience of your life!</p>
    <br>
</h2></section>
    <h1>Upcoming Trips</h1>

    {{#each trips as |trip|}}
    <h3>{{name}}</h3>
    <a href="./destination/{{trip.destinationId}}">
        <img src="/assets/paris.png" alt="The Eiffel Tower">
    </a>
    {{/each}}
</section>