<h1 class="profile-title">Profile</h1>

        <div class="profile-img-area">
          <img src="" alt="" />
        </div>

        <div class="input-area">
          <div class="input-wrapper">
            <label for="">First Name</label>
            <input type="text" />
          </div>
          <div class="input-wrapper">
            <label for="">Last Name</label>
            <input type="text" />
          </div>
          <div class="input-wrapper">
            <label for="">Email</label>
            <input type="text" />
          </div>
          <div class="input-wrapper">
            <label for="">Phone</label>
            <input type="text" />
          </div>

          <div class="input-wrapper address">
            <label for="">Address</label>
            <textarea name="" id="" cols="30" rows="10"></textarea>
          </div>

          <button class="save-btn">Save</button>
        </div>