<div class="container">
    <nav></nav>
    <div class="input-section">
        <h2>Create New Account</h2>
        <p>Already Registered? <a>Login</a></p>

        <div class="input-area">
            <label for="">Name</label>
            <input id="name-signup" type="text" placeholder="Add Name">
        </div>
        <div class="input-area">
            <label for="">Email</label>
            <input id="email-signup" type="text" placeholder="Add Name">
        </div>
        <div class="input-area">
            <label for="">Password</label>
            <input id="password-signup" type="text" placeholder="Add Name">
        </div>

        <button id="signupBtn" class="btn">Sign up</button>
    </div>
</div>

<script src="/js/register.js"></script>