.grid-container {
  display: grid;
}

.box {
        display: flex;
        flex-wrap: wrap;
    }

    .destination-card {
        flex-basis: 33.33%;
        padding: 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .destination-card > a {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .destination-card img {
        max-width: 200px;
        max-height: 200px;
    }

.center-block {
  display: block;
  display: flex;
  display: grid; 
  flex-wrap: wrap;
  justify-content: center;

}

.text {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.intro-container {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
margin-left: 70px;
margin-right: 70px;
}
