body{
  background-image: linear-gradient(rgb(201,234,237), rgb(204,90,55));
}

.navbar {
  border: double;
  border-color:#80ab9d;
  margin-top: 20px; 
  max-width: 100%; 
  padding-left: 50px;
  padding-right: 50px; 
  margin-bottom: 50px;
}
.footer-link{
  color:#000;
  text-decoration: none;
}
#error{
  text-align: center;
  color:red;
}
/*destinations styling*/
.grid-container {


  /* display: grid;
  grid-column-end: span 3; */
 
  display: flex;
  flex-wrap: wrap;  
  justify-content: space-around;  
/*   flex-flow: column wrap ;  */

}

.box {
  padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 10px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
}

.destination-page-name {
  font-size: 20px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.destination-card {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 20px;
}

.link-to-trip {
  text-decoration: none;
  color: #333;
}

.list-img {
  max-width: 100%;
  max-height: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  border-radius: 20px;
}

.image-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*homepage styling*/
.text {
  display: flex;
  justify-content: center;
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  
}

.intro-container {
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-left: 70px;
 margin-right: 70px;
}

.custom-bg-color {
 border: solid;
  border-color: #2E5E4E;
  background-color: white;
  margin: 10px;
  border-radius: 20px;
  padding: 20px
}
.title-wrap {
 /*  border: 1px solid #2E5E4E; */
 padding: 20px;
  background-color: #f2f2f2;
  border-radius: 20px;
  margin: 10px;
}

.wrap {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 20px;
}

.title-text {
  font-size: 40px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.intro-container {
  padding-bottom: 30px;
}

.home-img {
 /*  border: solid; 
  border-width: .2ch;
  border-color: #2E5E4E; */
 /* padding: 20px; */
  border-radius: 20px; 
}

.custom-btn {
  background-color: #ffffff;
  border-color: #ffffff;
  color: black;
}
.custom-btn:hover {
  background-color: #2A2F33;
  border-color: #2A2F33
}

.img-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


/*profile styling*/
.login-form {
  margin-top: 50px;
  margin-bottom: 10px; 
}
.reg-form {
  margin-bottom: 200px;
}

.profile-input {
  margin-top: 20px; 
}

.upload-header {
  margin-bottom: 25px;
}

.profile-body {
  border: double; 
  padding: 34px;
  border-color: #80ab9d;
  border-radius: 25px;
  text-align: center;
  align-items: center;
}

.footer {
  padding: 30px;
  margin-top: 60px;
}

.footer .footer-text {
  display: flex;
  justify-content: center;
}

.profile{
  width: 50%;
  height: 50vh;
  background: #d1d1d1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  margin: auto;
  
}

.profilecard{
  width: 400px;
  background: #fff;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #333;
  margin: auto;
  
}

.profilecard img {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  margin-top: 40px;
  margin-bottom: 30px;
}

#profilelabel{
  display:block;
  width:200px;
  background: #e3362c;
  color: #fff;
  padding: 12px;
  margin: 10px auto;
  border-radius: 5px;
  cursor: pointer;
}

#profilelabel:hover {
  background-color: #2A2F33;
  border-color: #2A2F33
}

.containertwo{
  position: absolute;
  top: 50%;
  left: 25%;
  transform: translate(-50%,-50%);
  max-width: 430px;
  width: 100%;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.3);
  }

  .containerthree{
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%,-50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    }
  
  .container .form{
  padding: 2rem;
  }
  .form header{
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
  }
   .form input{
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 17px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
   }
   .form input:focus{
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
   }
  .form a{
   font-size: 16px;
   color: #009579;
   text-decoration: none;
  }

  .form input.button{
   color: #fff;
   background: #009579;
   font-size: 1.2rem;
   font-weight: 500;
   letter-spacing: 1px;
   margin-top: 1.7rem;
   cursor: pointer;
   transition: 0.4s;
  }

  .form input.button:hover{
   background: #006653;
  }

  h1{
    font-size:80px;
    font-weight:700;
  }